<g id="gear_engagement_wheel_stage1" class="default">
    <title>Зубчатые зацепления</title>
        <g>
            <path d="M413.2,349.5v0.5c0.1,0,0.1,0,0.2,0c-0.1,0-0.1,0-0.2,0v3.9h13.7v-4.4H413.2z"/>
            <path d="M443,349.5v0.5c0.1,0,0.1,0,0.2,0c-0.1,0-0.1,0-0.2,0v3.9h13.7v-4.4H443z"/>
            <path d="M413.2,485v0.5c0.1,0,0.1,0,0.2,0c-0.1,0-0.1,0-0.2,0v3.9h13.7V485H413.2z"/>
            <path d="M443.1,484.9v0.5c0.1,0,0.1,0,0.2,0c-0.1,0-0.1,0-0.2,0v3.9h13.7v-4.4H443.1z"/>
        </g>
    </g>