<g id="rolling_bearing_313260_stage1" class="default">
    <title>Подшипник качения 313260</title>
        <g>
            <rect x="481" y="370.6" width="39.7" height="26.7"/>
            <rect x="480.8" y="442.4" width="40" height="26.1"/>
        </g>
</g>