<g id="rolling_bearing_30230_stage1" class="default">
    <title>Подшипник качения 30230</title>
        <g>
            <g>
                <rect x="291.1" y="503" width="22.1" height="17"/>
                <rect x="291" y="498.1" width="9.7" height="4.9"/>
            </g>
            <g>
                <rect x="227.1" y="498.5" width="9.8" height="4.1"/>
                <rect x="215.1" y="502.7" width="22.1" height="17"/>
            </g>
        </g>
</g>