<g id="val_stage1" class="default">
    <title>Ведущий вал</title>
        <g>
            <path d="M394.2,397.5v5c0.8,0,1.6,0,2.4,0c-0.8,0-1.6,0-2.4,0v39.6h200.3v-44.6H394.2z"/>
            <path d="M393,389.4v6c0.1,0,0.1,0,0.2,0c-0.1,0-0.1,0-0.2,0V443h14v-53.6H393z"/>
            <path d="M363.2,395.5v2.8c0.1,0,0.2,0,0.3,0c-0.1,0-0.2,0-0.3,0v22.2h29.4v-25H363.2z"/>
            <path d="M365,420v2.7c0.1,0,0.2,0,0.3,0c-0.1,0-0.2,0-0.3,0v21.9h28V420H365z"/>
            <path d="M362.7,420.9v2.5l0,0l0,0v20.2h1.5v-22.7H362.7z"/>
            <path d="M364.2,444c-0.5-0.1-1.1-0.3-1.6-0.4h1.6V444z"/>
            <path d="M325,433.3c0,0.2,0,0.4,0,0.5V433.3c6.3,1.7,12.6,3.4,18.9,5.1c6.3,1.7,12.5,3.4,18.8,5.2 c0-3.5,0-6.9,0-10.3C350.2,433.3,337.5,433.3,325,433.3z"/>
            <path d="M324.8,398.8v3.9c0.1,0,0.3,0,0.4,0c-0.1,0-0.3,0-0.4,0v30.6h37.9v-34.5H324.8z"/>
		</g>
		           
        
</g>