<g id="rolling_bearing_30230_stage2" class="default">
    <title>Подшипник качения 30230(ступень 2)</title>
    <g>
        <g>
            <rect x="214.9" y="320.3" width="18.1" height="17.5"/>
            <rect x="233" y="322.7" width="3.2" height="15.1"/>
            <rect x="226.9" y="337.8" width="9.4" height="4.5"/>
        </g>
        <g>
            
                <rect x="294.3" y="320.3" transform="matrix(1 -5.032711e-03 5.032711e-03 1 -1.6523 1.5304)" width="18" height="17.5"/>
            
                <rect x="291" y="322.7" transform="matrix(1 -5.032711e-03 5.032711e-03 1 -1.6586 1.477)" width="3.2" height="15.1"/>
            
                <rect x="291.1" y="337.9" transform="matrix(1 -5.032712e-03 5.032712e-03 1 -1.708 1.4927)" width="9.3" height="4.5"/>
        </g>
    </g>
</g>