<g id="rolling_bearing_sat_22217_stage2" class="default">
    <title>Подшипник качения 22217(ступень 2)</title>
        <g>
            <rect x="305.6" y="229.6" width="11.5" height="32.7"/>
            <rect x="347.7" y="229.6" width="11.5" height="32.7"/>
        </g>
</g>