<g id="sun_val_stage2" class="default">
    <title>Вал солнца(ступень 2)</title>
        <g>
            <rect x="240.9" y="219.3" width="44.8" height="50.9"/>
            <rect x="241.7" y="270.3" width="43.1" height="53.7"/>
            <rect x="243.6" y="323.5" width="39.3" height="21.7"/>
            <rect x="242.5" y="345.1" width="41.1" height="4.2"/>
        </g>
</g>