<g id="drive_val_stage3" class="default">
    <title>Ведомый вал(ступень 3)</title>
        <g>
            <rect x="137.4" y="97.6" width="43.2" height="61.5"/>
            <rect x="136.1" y="159.5" width="46" height="33.3"/>
            <rect x="137.9" y="63.3" width="42.4" height="34.1"/>
        </g>
</g>