<g id="rolling_bearing_sat_22224_stage3" class="default">
    <title>Подшипник качения 22224(ступень 3)</title>
        <g>
            <rect x="119.9" y="98.8" width="17.2" height="60"/>
            <rect x="180.2" y="98.7" width="17.2" height="60"/>
        </g>
</g>