<g id="sun_val_stage3" class="default">
    <title>Вал солнца(ступень 3)</title>
        <g>
            <rect x="226.6" y="91" width="73.9" height="79.3"/>
            <rect x="227.6" y="170.3" width="72" height="46"/>
        </g>
</g>