<div class="container-fluid p-0">
    
    <div class="tab">
        <ul class="nav nav-pills mb-3" id="monitoringTab" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="mnemo-tab" data-bs-toggle="tab" data-bs-target="#tabMnemo" type="button" role="tab" aria-controls="tabMnemo" aria-selected="true">Мнемосхема</a>
            </li>
    
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="monitoring-tab" data-bs-toggle="tab" data-bs-target="#tabMonitoring" type="button" role="tab" aria-controls="tabMonitoring" aria-selected="false">Мониторинг</a>
            </li>

            <li class="nav-item" role="presentation">
                <a class="nav-link" id="diagn-tab" data-bs-toggle="tab" data-bs-target="#tabDiagn" type="button" role="tab" aria-controls="tabDiagn" aria-selected="false">Диагностика</a>
            </li>
        </ul>
    </div>
    
    <div class="tab-content bg-transparent p-0" id="monitoringTabContent">
        <div class="tab-pane fade show active" id="tabMnemo" role="tabpanel" aria-labelledby="tabMnemo">
            <div class="row justify-content-center">
                <div class="col-12 col-xxl-7">
                    <div class="p-4" id="mnemo_container">
                    </div>        
                </div>
            </div>

        </div>
        <div class="tab-pane fade show" id="tabMonitoring" role="tabpanel" aria-labelledby="tabMonitoring">
            <div class="card m-0">
                <div class="card-body  p-0">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th style="width:35%;">Наименование параметра</th>
                                <th style="width:15%">ГОСТ 10816</th>
                                <th style="width:15%">Значение</th>
                                <th class="d-md-table-cell" style="width:15%">Единицы измерения</th>
                            </tr>    
                        </thead>
                        <tbody>
                            <tr>
                                <td>Наработка редуктора 1 <span id="active_gear_0" class="badge bg-primary p-2 d-none">Активный</span></td>
                                <td></td>                            
                                <td><span source="moto" id="moto_0"></span></td>
                                <td>мото [часы : минуты]</td>    
                            </tr>
                            <tr>
                                <td>Наработка редуктора 2 <span id="active_gear_1" class="badge bg-primary p-2 d-none">Активный</span></td>
                                <td></td>                            
                                <td><span source="moto" id="moto_1"></span></td>
                                <td>мото [часы : минуты]</td>    
                            </tr>
                            <tr>
                                <td>Частота вращения первичного вала</td>
                                <td></td>                            
                                <td><span source="signals" id="tacho"></span></td>
                                <td class="d-none d-md-table-cell">Гц</td>    
                            </tr>
                            <tr>
                                <td>Расчетная скорость кабинок</td>
                                <td></td>                            
                                <td><span source="signals" id="speed_zone"></span></td>
                                <td class="d-none d-md-table-cell">м/с</td>    
                            </tr>
                            <tr>
                                <td>Датчик вибрации "<%=hardware.device0_channel1.name %>"</td>
                                <td><span source="badges" id="signal1" class="badge p-2"></span></td>                            
                                <td><span source="signals" id="signal1"></span></td>
                                <td class="d-none d-md-table-cell">мм/с</td>    
                            </tr>
                            <tr>
                                <td>Датчик вибрации "<%=hardware.device0_channel2.name %>"</td>
                                <td><span source="badges" id="signal2" class="badge p-2"></span></td>                            
                                <td><span source="signals" id="signal2"></span></td>
                                <td class="d-none d-md-table-cell">мм/с</td>    
                            </tr>
                            <tr>
                                <td>Датчик вибрации "<%=hardware.device0_channel3.name %>"</td>
                                <td><span source="badges" id="signal3" class="badge p-2"></span></td>                            
                                <td><span source="signals" id="signal3"></span></td>
                                <td class="d-none d-md-table-cell">мм/с</td>    
                            </tr>
                            <tr>
                                <td>Время последнего обновления</td>
                                <td></td>                            
                                <td><span source="signals" id="ts"></span></td>
                                <td></td>    
                            </tr>
                            <tr>
                                <td>Адрес источника</td>
                                <td></td>                            
                                <td><span source="signals" id="remoteAddress"></span></td>
                                <td></td>    
                            </tr>
                        </tbody>
                    </table>
                </div>    
            </div>
        </div>
        <div class="tab-pane fade show" id="tabDiagn" role="tabpanel" aria-labelledby="tabDiagn">
            <div class="flex-row d-flex justify-content-between">
                <div id="div__gearmoto" class="card mb-2 flex-fill p-2"></div>    
                <div class="flex-shrink-1 m-1"></div>
                <div id="div__dates" class="card mb-2 flex-fill p-2"></div>
                <div class="flex-shrink-1 m-1"></div>
                <div id="div__speedfreq" class="card mb-2 flex-fill p-2"></div>
            </div>
            <div class="card col-12">
                <div class="card-body p-0" id="treetable__currentResult">
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    getAllClient();
</script>

