
<div class="container-fluid p-0">

        <div class="row col-12 mb-3">

            <div class="col-4">
                <div class="card m-0">
                    <div class="card-body  p-0" id="mnemo_container">

                    </div>
                </div>    
            </div>

            <div class="col-8">
                <div class="card m-0">
                    <div class="card-body  p-0">

                        <table class="table">
                            <thead>
                                <tr>
                                    <th style="width:50%;">Имя датчика</th>
                                    <th style="width:10%"></th>
                                    <th style="width:15%">Значение</th>
                                    <th class="d-none d-md-table-cell" style="width:25%">Единицы измерения</th>
                                </tr>    
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Частота вращения первичного вала</td>
                                    <td><span class="badge bg-primary p-2">норма</span></td>                            
                                    <td>70</td>
                                    <td class="d-none d-md-table-cell">об./мин.</td>    
                                </tr>
                                <tr>
                                    <td>СКЗ область 1</td>
                                    <td><span class="badge bg-warning p-2">превышено</span></td>                           
                                    <td>2</td>
                                    <td class="d-none d-md-table-cell">м/с<sup>2</sup></td>    
                                </tr>
                                <tr>
                                    <td>СКЗ область 2</td>
                                    <td><span class="badge bg-danger p-2">критично</span></td>                           
                                    <td>3</td>
                                    <td class="d-none d-md-table-cell">м/с<sup>2</sup></td>    
                                </tr>
                                <tr>
                                    <td>СКЗ область 3</td>
                                    <td><span class="badge bg-primary p-2">норма</span></td>                            
                                    <td>1</td>
                                    <td class="d-none d-md-table-cell">м/с<sup>2</sup></td>    
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
        
        <div class="row col-12">
            <div class="col-sm col-12">
                <div class="card col-12">
                    <!-- <div class="card-header">
                        <h2>Рузультат диагностики</h2>
                    </div> -->
                    <div class="card-body p-0">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th style="width:30%;">Объект</th>
                                    <th style="width:40%;">Диагноз</th>
                                    <th style="width:30%;">Комментарий</th>
                                </tr>    
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Подшипник качения 1</td>
                                    <td>
                                        <span class="badge bg-danger p-2">Дефект сепаратора [01]</span>
                                        <span class="badge bg-warning p-2">Износ тел качения [05]</span>
                                    </td>
                                    <td class="d-none d-md-table-cell"></td>    
                                </tr>
                                <tr>
                                    <td>Ступень 1</td>
                                    <td><span class="badge bg-success p-2">Дефект не обнаружен</span></td>
                                    <td class="d-none d-md-table-cell"></td>    
                                </tr>
                                <tr>
                                    <td>Ступень 2</td>
                                    <td><span class="badge bg-success p-2">Дефект не обнаружен</span></td>
                                    <td class="d-none d-md-table-cell"></td>    
                                </tr>
                                <tr>
                                    <td>Супень 3</td>
                                    <td><span class="badge bg-success p-2">Дефект не обнаружен</span></td>
                                    <td class="d-none d-md-table-cell"></td>    
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>


</div>

