<li class="sidebar-item"><a class="sidebar-link" id="btn__show_main" href="#">Интерфейс оператора</a></li>

<li class="sidebar-item">
    <a data-bs-target="#stat" data-bs-toggle="collapse" class="sidebar-link" area-expanded="true">        
        <span class="align-middle">Статистика</span>
    </a>
    <ul id="stat" class="sidebar-dropdown list-unstyled collapse show" data-bs-parent="#sidebar">
        <li class="sidebar-item"><a class="sidebar-link" id="btn__show_statistics" href="#">Диагностика</a></li>
        <li class="sidebar-item"><a class="sidebar-link" id="btn__show_monitoring" href="#">Мониторинг</a></li>

        <% if (role == "admin") { %>
            <li class="sidebar-item"><a class="sidebar-link" id="btn__show_redchange" href="#">Смена редукторов</a></li>
        <% } %>
    </ul>
</li>

<% if (role == "admin") { %>
    <li class="sidebar-item"><a class="sidebar-link" id="btn__show_options" href="#">Настройки</a></li>
    <li class="sidebar-item"><a class="sidebar-link" id="btn__show_control" href="#">Управление</a></li>
    <li class="sidebar-item"><a class="sidebar-link" id="btn__show_users" href="#">Пользователи</a></li>
<% } %>

